{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="content" style="text-align: center;">

      <br>
      <h2>置き配をお願いします</h2>
      <br>

      <div id="iru">
      <a href="{% url 'Guest_delivery_camera' %}" class="btn_01">ハンコが必要な方はこちら</a><br>
      </div>
      <br>

      <div id="inai">
      <p><i class="fa-solid fa-circle-exclamation" style="color: #4b4c4e;"></i>　ただいま対応できません。<br>
        ハンコが必要な方は「不在通知」ボタンを押してください</p><br>
      <a href="{% url 'Guest_post' %}" class="btn_01">不在通知</a><br>
      </div>
      </div>

      <script>
        iru = document.getElementById('iru');
        iru.style.display = "none";//none=非表示
        inai = document.getElementById('inai');
        inai.style.display = "none";//none=非表示

        if({{ time_status }}==0){
          iru.style.display = "block";
        }else{
          inai.style.display = "block";
        }
      </script>

{% endblock %}
