{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="content" style="text-align: center;">
        <h3>荷物の宛名 読み取り</h3>
        <br>
        <h4>宛名を画角に入れ、<b>読み取りボタン</b>を押してください</h4>
        <p style="font-size:small;">※ 読み取りが正常に終了した後、住人に通知します</p>

        <video id="video" class="camera" playsinline autoplay></video>
        <button id="submitBtn" class="btn_06">
          <i class="fa-solid fa-hourglass" style="color: #ffffff;"></i>　読み取り
        </button>
        <canvas id="canvas" class="camera" ></canvas>
      </div>

      <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        canvas.style.display = "none";//none=非表示
        const submitBtn = document.getElementById('submitBtn');
        const submitMsg = document.getElementById('submitMsg');
        const constraints = { video: { width: 640, height: 480, facingMode: "user"} };

        // カメラを起動
        async function initCamera() {
        		try {
        				const stream = await navigator.mediaDevices.getUserMedia(constraints);
        				video.srcObject = stream;
        		} catch (err) {
        				console.error('カメラの起動に失敗しました: ', err);
        		}
        }

        // スナップショットを撮影して保存
        function captureSnapshot() {
        	const context = canvas.getContext('2d');
        	context.drawImage(video, 0, 0, canvas.width, canvas.height);
        	const snapshotData_base64 = canvas.toDataURL('image/png');
          const snapshotData = snapshotData_base64.replace(/^data:\w+\/\w+;base64,/, '');

        	// 送信ボタンが押されたことを検知してサーバーに送信
        	//submitBtn.addEventListener('click', () => {
        			fetch('/save_snapshot/', {
        					method: 'POST',
        					headers: {
        							'Content-Type': 'application/json',
        							'X-CSRFToken': '{{ csrf_token }}', // DjangoのCSRFトークンを追加
        					},
        					body: JSON.stringify({ 'snapshotData': snapshotData , 'visitor':'Delivery'}),
        			})
        			.then(response => {
        				if (!response.ok) {
        						throw new Error('サーバーへの送信に失敗しました');
        				}
        				return response.json();
        		})
        		.then(data => {
              //リダイレクトフラグをチェック
              if (data.redirect){
                window.location.href = 'Guest_delivery_end1';
              }else{
              console.log(data.message); // サーバーからの応答をコンソールに表示
              }
        		})
        		.catch(error => console.error(error.message));
        	//});
        }

        // ページがロードされた時にカメラを起動する
        window.onload = () => initCamera();

        // 撮影ボタンがクリックされた時にスナップショットを撮影する
        submitBtn.addEventListener('click', () => {
          //submitBtn.style.display = "block";//block=表示
          //submitMsg.style.display = "block";//block=表示
          captureSnapshot()
        });
      </script>

{% endblock %}
