{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>客人（配達員）の画面</h1>
      </div>

      <div class="content">
        <p>荷物の宛名(氏名)の判定を行います。</p>
        <p>判定が正常に終了すると、住人に通知が行きます。</p>
        <p>荷物の宛名(氏名)をカメラで読み取ってください。</p>
      <br>

      <p>①撮影ボタンを押してください</p>
      <video id="video" width="640" height="480" autoplay></video>
      <button id="captureBtn" class="btn_06">撮影</button><br>
      <p id="submitMsg">②読み取り開始ボタンを押してください</p>
      <button id="submitBtn" class="btn_06">読み取り開始</button>
      <canvas id="canvas" width="640" height="480"></canvas>
      <br>
      <a href="{% url 'Guest_home' %}" >来訪目的の選択画面に戻る</a>
      </div>

      <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const captureBtn = document.getElementById('captureBtn');
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.style.display = "none";//none=非表示
        const submitMsg = document.getElementById('submitMsg');
        submitMsg.style.display = "none";//none=非表示
        const constraints = { video: { width: 640, height: 480 } };

        // カメラを起動
        async function initCamera() {
        		try {
        				const stream = await navigator.mediaDevices.getUserMedia(constraints);
        				video.srcObject = stream;
        		} catch (err) {
        				console.error('カメラの起動に失敗しました: ', err);
        		}
        }

        // スナップショットを撮影して保存
        function captureSnapshot() {
        	const context = canvas.getContext('2d');
        	context.drawImage(video, 0, 0, canvas.width, canvas.height);
        	const snapshotData_base64 = canvas.toDataURL('image/png');
          const snapshotData = snapshotData_base64.replace(/^data:\w+\/\w+;base64,/, '');

        	// 送信ボタンが押されたことを検知してサーバーに送信
        	submitBtn.addEventListener('click', () => {
        			fetch('/save_snapshot/', {
        					method: 'POST',
        					headers: {
        							'Content-Type': 'application/json',
        							'X-CSRFToken': '{{ csrf_token }}', // DjangoのCSRFトークンを追加
        					},
        					body: JSON.stringify({ 'snapshotData': snapshotData , 'visitor':'Delivery'}),
        			})
        			.then(response => {
        				if (!response.ok) {
        						throw new Error('サーバーへの送信に失敗しました');
        				}
        				return response.json();
        		})
        		.then(data => {
              //リダイレクトフラグをチェック
              if (data.redirect){
                window.location.href = 'Guest_delivery_end1';
              }else{
              console.log(data.message); // サーバーからの応答をコンソールに表示
              }
        		})
        		.catch(error => console.error(error.message));
        	});
        }

        // ページがロードされた時にカメラを起動する
        window.onload = () => initCamera();

        // 撮影ボタンがクリックされた時にスナップショットを撮影する
        captureBtn.addEventListener('click', () => {
          submitBtn.style.display = "block";//block=表示
          submitMsg.style.display = "block";//block=表示
          captureSnapshot()
        });
      </script>

{% endblock %}
