{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>客人のWebアプリ</h1>
      </div>

      <div class="content">
      <p class="memo">※メモ：この画面は、ポスト投函の投函物を撮影・送信する画面です。</p>
      <p>投函物の写真を撮り、送信ボタンを押してください。</p>
      <p class="memo">※メモ：ここでは、投函物を撮影するカメラを配置します。</p>
      <br>
      <a href="{% url 'Guest_post_end2' %}" class="btn_01"><p>送信</p></a><br>
      <a href="{% url 'Guest_home' %}" >来訪目的の選択画面に戻る</a>
      </div>

{% endblock %}
