{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>客人（その他）のWebアプリ</h1>
      </div>

      <div class="content">

      <form method="post">
      {% csrf_token %}
      <p>来訪されたご用件を記入してください：</p><br>
      <input type="text" required="required" name="form1" size="500"></input><br>
      <button name="form1_submit" class="btn_06">次の質問に答える</button>
      </form>

      <br>
      <a href="{% url 'Guest_home' %}" >来訪目的の選択画面に戻る</a>
      </div>

{% endblock %}
