{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>客人（その他）のWebアプリ</h1>
      </div>

      <div class="content">
      <p>※約10秒後に次の質問回答フォームに移動します...</p>
      <video src="{% static 'video/video.mov' %}" alt="謎の動画" width="1080" height="720" autoplay muted playsinline></video>
      </div>

      <script type="text/javascript">
        setTimeout(() => {
          window.location.href = "{% url 'Guest_other_form4' %}";
        },10000);
      </script>

{% endblock %}
