{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="content">
        <h3 id="top_mes" style="text-align: center;margin-top:25px;font-weight:bold;"></h3>
          <!--<h3 style="text-align: center;margin-top:25px;">
            <b>投函物 / 不在票の宛名読み取り</b></h3>-->
        <!--<p style="font-size:small;text-align: center;color:#e15053;">※ 読み取りが正常に終了した場合のみ、郵便受けの利用可能</p>-->
        <p style="text-align: center;color:#6495ED;font-size:small;margin-bottom:20px;">
          ※ 宛名が無い場合は <b><a href="{% url 'Guest_post_pic' %}" style="color:#6495ED;text-decoration: underline;">コチラ</a></b></p>

        <!--<div style="padding: 15px; margin-bottom: 10px; border: 1px dashed #e15053; border-radius: 10px;">-->
        <div style="padding: 10px; margin-bottom: 10px; background-color: white; border-radius: 5px;">
          <p style="font-size:small;">手順<br>
          ① 宛名箇所を画角に入れる<br>② <b>読み取り</b>ボタンを押す</p>
          <p style="font-size:75%;color:gray;">
            ※ 読み取り後、ポストが自動で開きます</p>
          <div style="text-align: center;">
          <video id="video" class="camera" playsinline autoplay></video>
          <button id="submitBtn" class="btn_06" style="font-size:small;">
            読み取り
          </button>
          <canvas id="canvas" class="camera"></canvas>
          </div>
        </div>
      </div>


      <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        canvas.style.display = "none";//none=非表示
        const submitBtn = document.getElementById('submitBtn');
        const submitMsg = document.getElementById('submitMsg');
        //内カメconst constraints = { video: { width: 640, height: 480, facingMode: "user"} };
        const constraints = { video: { width: 350, height: 350, facingMode: "environment"} };
        const top_mes = document.getElementById('top_mes');

        //直前のページのurl
        const ref = document.referrer;
        if(ref.indexOf("Guest_home/424")!== -1){
          top_mes.innerText = "投函物の宛名読み取り";
        }else{
          top_mes.innerText = "不在票の宛名読み取り";
        }

        // カメラを起動
        async function initCamera() {
        		try {
        				const stream = await navigator.mediaDevices.getUserMedia(constraints);
        				video.srcObject = stream;
                video.style.height = '400';
                video.style.width = 'auto';
        		} catch (err) {
        				console.error('カメラの起動に失敗しました: ', err);
        		}
        }

        // スナップショットを撮影して保存
        function captureSnapshot() {
          // Canvasのサイズをビデオと同じに設定
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
        	const context = canvas.getContext('2d');
        	context.drawImage(video, 0, 0, canvas.width, canvas.height);
        	const snapshotData_base64 = canvas.toDataURL('image/png');
          const snapshotData = snapshotData_base64.replace(/^data:\w+\/\w+;base64,/, '');

        	// 送信ボタンが押されたことを検知してサーバーに送信
        	//submitBtn.addEventListener('click', () => {
            console.log("message");
        		fetch('/save_snapshot/', {
        				method: 'POST',
        				headers: {
        					 'Content-Type': 'application/json',
        					 'X-CSRFToken': '{{ csrf_token }}', // DjangoのCSRFトークンを追加
        				},
        				body: JSON.stringify({ 'snapshotData': snapshotData , 'visitor':'Post_1'}),
        		})
        		.then(response => {
        			if (!response.ok) {
        					throw new Error('サーバーへの送信に失敗しました');
        			}
        			return response.json();
        		})
        		.then(data => {
              //リダイレクトフラグをチェック
              if (data.redirect){
                 window.location.href = 'Guest_post_end1';
              }else{
                 console.log(data.message); // サーバーからの応答をコンソールに表示
              }
        		})
        		.catch(error => console.error(error.message));
        	//});
        }

        // ページがロードされた時にカメラを起動する
        window.onload = () => initCamera();

        // 撮影ボタンがクリックされた時にスナップショットを撮影する
        submitBtn.addEventListener('click', () => {
          video.pause();
          //submitBtn.style.display = "block";//block=表示
          //submitMsg.style.display = "block";//block=表示
          captureSnapshot()
        });
      </script>

{% endblock %}
