{% load static %}
<!doctype html>
<html>
    <head>
        <title>Visiter System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/design_Guest.css' %}">
    </head>
    <body>

      <div class="content" style="text-align: center;">
          <h2><b>THANK YOU！！</b></h2><br>
          <p>住民に通知しました</p>
          <p>本ページを閉じて終了してください</p>
      </div>

      <!--<p>Video Status: <span id="video_status">0</span></p>-->

      <!--ビデオチャットを表示する機能-->
      <hr>
      <div id="videoChat" style="text-align:center">
        <div style="visibility:hidden;">

        </div>
        <hr size="10">
        <p id="message">住人とビデオチャットが繋がっています<br>参加ボタンを押してください</p>
        <button id="join" class="btn_06">参加　
        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #fff;"></i></button><br>
        <p id="joining"></p>
        <div id="close">
        <button class="btn_06" id='endBtn'>退出　
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #fff;"></i></button><br>
        </div>
        <video id="local-video" width="400px" muted playsinline  style="text-align:center"></video>

        <video id="partner_video"></video>
        <audio id="partner_audio"></<audio>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
        <script src="{% static 'js/Guest_VideoChat.js' %}"></script><br>


      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        const video = document.getElementById('videoChat');
        video.style.display = "none";//none=非表示

        function updateVideoStatus() {
            $.ajax({
                url: "{% url 'other_check_video_status' %}",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    //$('#video_status').text(data.video_status);
                    if (data.video_status == 1) {
                        // ビデオステータスが1の場合、メッセージを表示
                        video.style.display = "block";//表示
                    }
                }
            });
        }

        // ページ読み込み時に最新のビデオステータスを取得
        updateVideoStatus();

        // 5秒ごとにビデオステータスをチェック
        setInterval(updateVideoStatus, 8000);

        const btn = document.getElementById('endBtn');
        // 終了ボタンがクリックされた時に非表示にする
        btn.addEventListener('click', () => {
          video.style.display = "none";//非表示
        });

      </script>


      </body>
  </html>
