{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
<br>

<div id="parent">
      <div class="content">
          <form method="POST">
          {% csrf_token %}
          <p>貴方の名前／団体名を記入してください
          <input name="form2_name" type="text" required style="width:100%; height:40px;"></p>
          <p>貴方の連絡先を記入してください<br>（※こちらは任意回答です。）
          <input name="form2_contact" type="text" style="width:100%; height:40px;"></p>
          <br>
          <button name="form2_submit"  class="btn_06"><i class="fa-solid fa-circle-chevron-right"></i>　次の質問に答える</button>
          </form>
      </div>

      <!--ビデオチャットする機能-->
      <div id="videoChat" style="text-align:center;">
        <p id="message"></p>
        <button class="btn_06" onclick="location.href='{% url 'Guest_video' %}'">応答　
        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #fff;"></i></button><br>
      </div>
</div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        const parent = document.getElementById("parent");
        const sort = parent.getElementsByTagName('div')[1];
        const firstChild = parent.firstChild;

        const video = document.getElementById('videoChat');
        video.style.display = "none";//none=非表示

        // 5秒ごとにビデオステータスをチェック
        setInterval(updateVideoStatus, 1000);
        function updateVideoStatus() {
            $.ajax({
                url: "{% url 'other_check_video_status' %}",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data.video_status == 1) {
                      parent.getElementsByTagName('div')[0].style.display = "none";
                      parent.insertBefore(sort, firstChild);
                      video.style.display = "block";//表示
                      document.getElementById('message').innerText = "住人が 通話 を希望しています\n応答ボタンを押してください";
                    }else{
                      parent.getElementsByTagName('div')[1].style.display = "block";
                      video.style.display = "none";//none=非表示
                    }
                }
            });
        }

      </script>


{% endblock %}
