{% load static %}
<!doctype html>
<html>
    <head>
        <title>Visiter System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/design_Guest.css' %}">
    </head>
    <body>
        <div class="loading">
          <div class="loading-wrap">
            <div class="loader"></div>
           <i class="fas fa-spinner fa-3x fa-spin"></i>
          </div>
        </div>

      <script>
        const loading = document.querySelector('.loading');
        window.addEventListener('load', () => {
          setTimeout(function() {
            loading.classList.add('hide');
          }, 5000);
        });
      </script>

      <div class="content" style="text-align: center;">
        <h2>住人を呼び出しています<br>少々お待ちください</h2>
      <!--<img src="{% static 'video/video.png' %}" alt="待ち時間の動画" width="300" height="200"></img>-->
      </div>
      <div id="video01" poster="" >
        <p>動画が表示されない際のメッセージ.</p>
      </div>
      <div id="video02" poster="" muted playsinline controls metadata style="display: none;">
        <p>動画が表示されない際のメッセージ.</p>
      </div>
      <div id="video03" poster="" muted playsinline controls metadata style="display: none;">
        <p>動画が表示されない際のメッセージ.</p>
      </div>
      <div id="video04" poster="" muted playsinline controls metadata style="display: none;">
        <p>動画が表示されない際のメッセージ.</p>
      </div>
      <div id="video05" poster="" muted playsinline controls metadata style="display: none;">
        <p>動画が表示されない際のメッセージ.</p>
      </div>
      <script>
          var video01 = document.getElementById("video01");//17秒
          video01.innerHTML = "<video src='https://www.nhk.or.jp/das/movie/D0002031/D0002031621_00000_V_000.mp4'width='1080' height='720'autoplay muted></video>";

          var video02 = document.getElementById("video02");//19秒
          video02.innerHTML = "<video src='https://www.nhk.or.jp/das/movie/D0002050/D0002050419_00000_V_000.mp4'width='1080' height='720'autoplay muted></video>";

          var video03 = document.getElementById("video03");//16秒
          video03.innerHTML = "<video src='https://www.nhk.or.jp/das/movie/D0002060/D0002060155_00000_V_000.mp4'width='1080' height='720'autoplay muted></video>";

          var video04 = document.getElementById("video04");//61秒
          video04.innerHTML = "<video src='https://www.nhk.or.jp/das/movie/D0002031/D0002031389_00000_V_000.mp4'width='1080' height='720'autoplay muted></video>";

          var video05 = document.getElementById("video05");//41秒
          video04.innerHTML = "<video src='https://www.nhk.or.jp/das/movie/D0002030/D0002030670_00000_V_000.mp4'width='1080' height='720'autoplay muted></video>";

          // video01の再生が終わった場合
          setTimeout(() =>{
            video01.style.display ="none";
            video02.style.display ="block";
          },17000)
          // video02の再生が終わった場合
          setTimeout(() =>{
            video02.style.display ="none";
            video03.style.display ="block";
          },36000)
          // video03の再生が終わった場合
          setTimeout(() =>{
            video03.style.display ="none";
            video04.style.display ="block";
          },52000)
          // video04の再生が終わった場合
          setTimeout(() =>{
            video04.style.display ="none";
            video05.style.display ="block";
          },113000)
          // video05の再生が終わった場合
          setTimeout(() =>{
            video05.style.display ="none";
            video01.style.display ="block";
          },154000)
      </script>


    </body>
</html>
