{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>その他のWebアプリ</h1>
      </div>

      <div class="content">
      <h2>THANK　YOU！！</h2>
      <p>住民に通知しました。</p><br>
      <p>本ページを閉じて操作を終了してください。</p>
      </div>

      <p>Video Status: <span id="video_status">0</span></p>

      <!--ビデオチャットを表示する機能-->
      <div id="videoChat">
      <div style="visibility:hidden;">
       <input id="room-name" value="VideoRoom"/>
       <span id="my-id"></span><br>
      </div>
      <hr size="10">
      <p id="message">住人とビデオチャットが繋がっています。参加ボタンを押してください。</p>
      <button id="join" class="btn_06">参加</button><br>
      <p id="joining">参加中...</p>
      <div id="close">
      <button class="btn_06" id='endBtn'>退出</button><br>
      </div>
      <video id="local-video" width="400px" muted playsinline></video>
      <div id="button-area"></div>
      <!--<div id="remote-media-area"></div>-->
      <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
      <script src="{% static 'js/VideoChat.js' %}"></script><br>
      </div>


      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        const video = document.getElementById('videoChat');
        video.style.display = "none";//none=非表示

        function updateVideoStatus() {
            $.ajax({
                url: "{% url 'other_check_video_status' %}",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    $('#video_status').text(data.video_status);
                    if (data.video_status == 1) {
                        // ビデオステータスが1の場合、メッセージを表示
                        video.style.display = "block";//表示
                    }
                }
            });
        }

        // ページ読み込み時に最新のビデオステータスを取得
        updateVideoStatus();

        // 5秒ごとにビデオステータスをチェック
        setInterval(updateVideoStatus, 8000);

        const btn = document.getElementById('endBtn');
        // 終了ボタンがクリックされた時に非表示にする
        btn.addEventListener('click', () => {
          video.style.display = "none";//非表示
        });

      </script>

{% endblock %}
