{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>客人のWebアプリ</h1>
      </div>

      <div class="content">
      <p class="memo">※メモ：この画面は、客人のHOME画面です</p>
      <p>貴方の来訪目的を下記ボタンから選択してください。</p>
      <br>
      <a href="{% url 'Guest_delivery' %}" class="btn_01">配達員</a><br>
      <a href="{% url 'Guest_post' %}" class="btn_01">郵便受けの利用</a><br>
      <a href="{% url 'Guest_other' %}" class="btn_01">その他</a><br>
      </div>

{% endblock %}
