{% extends './Guest_base.html' %}
{% load static %}

{% block content %}
<br>

<div id="parent">
      <div class="content">
          <form method="POST">
            {% csrf_token %}
            <p>今日の日付を記入してください
            <input name="form4_date" type="text" size="20" required style="width:100%; height:40px;"></p>
            <p>今日の曜日を記入してください
            <input name="form4_day" type="text" size="20" required style="width:100%; height:40px;"></p>
            <p>今日の天気を記入してください
            <input name="form4_weather" type="text" size="20" required style="width:100%; height:40px;"></p>
            <p>今日の交通手段を記入してください
            <input name="form4_transportation" type="text" size="50" required style="width:100%; height:40px;"></p>
            <p>知っている雑学/豆知識を記入してください
            <input name="form4_trivia" type="text" size="300" required style="width:100%; height:40px;"></p>
            <p>最後に一言を記入してください
            <input name="form4_message" type="text" size="300" required style="width:100%; height:40px;"></p>
            <br>
            <p style="text-align: center;">以上で質問は終了です<br><b>送信ボタン</b>を押してください</p>
            <br>
            <button name="form4_submit" class="btn_06">
              <i class="fa-regular fa-paper-plane" style="color: #ffffff;"></i>　送信
            </button>
          </form>
      </div>


      <!--ビデオチャットする機能-->
      <div id="videoChat" style="text-align:center;">
        <p id="message"></p>
        <button class="btn_06" onclick="location.href='{% url 'Guest_video' %}'">応答　
        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #fff;"></i></button><br>
      </div>
</div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        const parent = document.getElementById("parent");
        const sort = parent.getElementsByTagName('div')[1];
        const firstChild = parent.firstChild;

        const video = document.getElementById('videoChat');
        video.style.display = "none";//none=非表示

        // 5秒ごとにビデオステータスをチェック
        setInterval(updateVideoStatus, 1000);
        function updateVideoStatus() {
            $.ajax({
                url: "{% url 'other_check_video_status' %}",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data.video_status == 1) {
                      parent.getElementsByTagName('div')[0].style.display = "none";
                      parent.insertBefore(sort, firstChild);
                      video.style.display = "block";//表示
                      document.getElementById('message').innerText = "住人が 通話 を希望しています\n応答ボタンを押してください";
                    }else{
                      video.style.display = "none";//none=非表示
                      parent.getElementsByTagName('div')[1].style.display = "block";
                    }
                }
            });
        }

      </script>


{% endblock %}
