@charset "UTF-8";

/*------ヘッダー要素------*/
header{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #4682B4;
  padding-top: 5px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}
h1.head{
  font-size: 24pt;
  color: #ffffff;
  font-family: 'Lobster', cursive;
}
/*ハンバーガーメニューのスタイル*/
.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
}
#sp-menu__check:checked ~ .sp-menu__content {
  left: 0;
}
.sp-menu__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*普段は画面外にするために左端を画面右端の位置にする*/
  z-index: 90;
  background-color: #696969; opacity:0.95;
  transition: all 0.5s;/*右端からゆっくり移動するように表示*/
}
.sp-menu__box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.fa-stack{
  z-index: 1001;
  top: 0;
  right: 0;
}
/*ハンバーガーメニューのチェックボタン*/
#sp-menu__check {
  display: none;
}
.sp-menu__list {
  padding: 70px 10px 0;
}
.sp-menu__item {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.sp-menu__link {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}
/*li.head {
  list-style: none;
  display: block;
  text-decoration: none;
  margin-right: 36px;
  color: #ffffff;
}*/
p.head{
  color: #ffffff;
}
p.head:hover {
  color: #FFCC33;
}


/*------ボディ要素------*/
/*共通のスタイル*/
.content {
  z-index: 1;
  font-size: 13pt;
  margin: 20px;
  font-family: sans-serif;
  color: #333333;
}
/*home画面のタブメニュー要素*/
.tab li{
  list-style: none;
  text-decoration: none;
}
/*要素を横一列に整列するスタイル*/
.item {
  display: flex;
  justify-content:  flex-start;
}
.item>div:last-of-type{
    margin-left: auto;
}
/*aタグのボタンスタイル*/
a.btn_01 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #4682B4;
  color: #336699;
	transition: 0.5s;
}
a.btn_01:hover {
	color: #fff;
	background: #336699;
}
/*buttonタグのボタンスタイル*/
button.btn_06 {
	display: block;
	text-decoration: none;
	margin: auto;
	padding: 1rem 5rem;
	font-weight: bold;
	border-radius: 100vh;
  background: #4682B4;
	color: #fff;
}
button.btn_06:hover {
	color: #fff;
  background: #4682B4; opacity:0.7;
}
/*buttonタグのボタンスタイル*/
button.btn_03 {
	display: block;
	text-decoration: none;
	margin: auto;
	padding: 1rem 1rem;
	font-weight: bold;
	border-radius: 50vh;
  background: #fff;
	color: #4682B4;
  border: 1px solid #4682B4;
}
button.btn_03:hover {
	color: #ffffff;
  background: #4682B4; opacity:0.7;
}
/*Owner_seeform_detail_Other.htmlで回答フォームを表示する際のスタイル */
.form{
  background-color: #fff;
  padding: 1rem 4rem;
  border-radius: 10px;
}
.other {
  list-style: none;
}
a:visited {
  color: #788d98;
}
/*通話ボタン*/
button.btn--circle {
  width: 100px;
  height: 100px;
  padding: 10px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #4682B4;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
button.btn--circle i {
  font-size: 150%;
}
.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}
button.btn--circle:hover {
  background: #4682B4; opacity:0.7;
  color: #fff;
}
.right{
  display: block;
	text-align: right;
}


/*使ってない？
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.date {
    color: #828282;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.post {
    margin-bottom: 70px;
}
.post h2 a, .post h2 a:visited {
    color: #000000;
}
.textbox {
  width: 200px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.textbox:focus {
  outline: 0;
  border: 2px solid #2196f3;
}
*/
