@charset "UTF-8";

/*------ヘッダー要素------*/
header.one{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #e15053;
  padding-top: 5px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  margin-top: 0;
  *padding: 0px 20px 20px 40px;
}
header.two{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #e15053;
  padding-top: 5px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  margin-top: 0;
  /*padding: 0px 20px 20px 40px;*/
  text-align: left;
}
h1.head{
  font-size: 24pt!important;
  color: #ffffff!important;
  font-family: 'Lobster', cursive!important;
}


/*------ボディ要素------*/
/*共通のスタイル*/
.content {
  z-index: 1!important;
  font-size: 13pt!important;
  margin: 20px!important;
  font-family: sans-serif!important;
  color: #333333!important;
}
/*aタグボタンのスタイル*/
a.btn_01 {
	display: block!important;
	text-align: center!important;
	vertical-align: middle!important;
	text-decoration: none!important;
	margin: auto!important;
	padding: 1rem!important;
	font-weight: bold!important;
	border: 0.5px solid #e15053!important;
  border-radius: 10px!important;
  color: #e15053!important;
  background-color: #fff!important;
	transition: 0.5s!important;
}
a.btn_01:hover {
	color: #F08080; opacity:0.7!important;
}
/* buttonタグのスタイル*/
button.btn_06 {
  display: block!important;
	text-decoration: none!important;
	margin: auto!important;
	padding: 0.8rem 2rem!important;
	font-weight: bold!important;
	border-radius: 5px!important;
  background: #e15053!important;
	color: #fff!important;
}
button.btn_06:hover {
  background: #e15053; opacity:0.8!important;
	color: #fff!important;
}
/*Guest_delivery_camera.htmlのcameraとvideoのスタイル*/
video.camera {
  max-width: 100%!important;/* はみ出ないように */
}
canvas.camera {
  max-width: 100%!important;/* はみ出ないように */
}
/*ローディング表示*/
.loading {
  position: fixed!important;
  z-index: 1000!important;
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  background-color: #fff!important;
  display: flex!important;
  background-color: #e15053!important;
  margin: auto!important;
}
.loader {
  color: #ffffff!important;
  font-size: 20px!important;
  margin: 100px auto!important;
  width: 1em!important;
  height: 1em!important;
  border-radius: 50%!important;
  position: relative!important;
  text-indent: -9999em!important;
  -webkit-animation: load4 1.3s infinite linear!important;
  animation: load4 1.3s infinite linear!important;
  -webkit-transform: translateZ(0)!important;
  -ms-transform: translateZ(0)!important;
  transform: translateZ(0)!important;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.loading.hide {
  opacity: 0!important;
  pointer-events: none!important;
  transition: opacity 500ms!important;
}
.loading-wrap {
  position: abolute!important;
  left: 0!important;
  right: 0!important;
  margin: auto!important;
  height: 20px!important;
}
/*ビデオチャット*/
/* ビデオのコンテナに相対的な位置を指定するためのスタイル */
.video-container {
  position: fixed;
	bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* オーバーフローを隠すために追加 */
}
/* オーバーレイのスタイル */
.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5); /* 透明度のある黒い色 */
  z-index: 1; /* ビデオより手前に表示するための z-index の設定 */
}
/*メッセージ*/
.overlay_mes {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%); /* 水平方向に中央寄せ */
  color: white; /* 白色のテキスト */
  z-index: 2; /* オーバーレイより手前に表示するための z-index の設定 */
  white-space: nowrap; /* 改行を禁止するスタイル */
}
/* ビデオのスタイル */
video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover; /* アスペクト比を保ちつつ、ビデオをコンテナいっぱいに広げるために追加 */
  z-index: 0; /* ビデオの z-index を設定（オーバーレイより奥に表示） */
}
/* カメラ映像と処理用canvasのスタイル */
#contents {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover; /* アスペクト比を保ちつつ、ビデオをコンテナいっぱいに広げるために追加 */
  z-index: 0; /* ビデオの z-index を設定（オーバーレイより奥に表示） */
}
#picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

/*使ってない？
.date {
    color: #828282;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
}
.post h2 a, .post h2 a:visited {
    color: #000000;
}
.textbox {
  width: 200px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.textbox:focus {
  outline: 0;
  border: 2px solid #2196f3;
}
*/
