@charset "UTF-8";

/*タブメニュー*/
.tab li{
  list-style: none;
  text-decoration: none;
}

.other {
  list-style: none;
}
.form{
  background-color: #fff;
  padding: 1rem 4rem;
  border-radius: 10px;
}


header{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  /*background-color: #33CCCC;#4682B4*/
  background-color: #4682B4;
  padding-top: 5px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}
h1.head{
  font-size: 24pt;
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

ul.main-nav {
  display: flex;
}
li.head {
  list-style: none;
  display: block;
  text-decoration: none;
  margin-right: 36px;
  color: #ffffff;
}
p.head{
  color: #ffffff;
}
p.head:hover {
  color: #FFCC33;
}

.content {
  z-index: 1;
  font-size: 13pt;
  margin: 20px;
}

.content h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
  color: #333333;
}
.content p{
  color: #333333;
}

.item {
  display: flex;
  justify-content:  flex-start;
}
.item>div:last-of-type{
    margin-left: auto;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

a.btn_01 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #4682B4;
	/*color: #27acd9;*/
  color: #336699;
	transition: 0.5s;
}
a.btn_01:hover {
	color: #fff;
	background: #336699;
}

button.btn_06 {
	display: block;
	text-decoration: none;
	margin: auto;
	padding: 1rem 5rem;
	font-weight: bold;
	border-radius: 100vh;
	/*border-bottom: 7px solid #0686b2;*/
	/*background: #27acd9;*/
  background: #4682B4;
	color: #fff;
}
button.btn_06:hover {
	/*border-bottom: 1px solid #0686b2;*/
	color: #fff;
  background: #4682B4; opacity:0.7;
}

.textbox {
  width: 200px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.textbox:focus {
  outline: 0;
  border: 2px solid #2196f3;
}


/* ハンバーガーメニュー*/
.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
}
#sp-menu__check:checked ~ .sp-menu__content {
  left: 0;
}
.sp-menu__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* 普段は画面外にするために左端を画面右端の位置にする */
  left: 100%;
  z-index: 90;
  background-color: #696969; opacity:0.95;
  /* 右端からゆっくり移動するように表示 */
  transition: all 0.5s;
}
.sp-menu__box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.fa-stack{
  z-index: 1001;
  top: 0;
  right: 0;
}
/*チェックボタン*/
#sp-menu__check {
  display: none;
}
.sp-menu__list {
  padding: 70px 10px 0;
}
.sp-menu__item {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.sp-menu__link {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}
