{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="content">

        <p id="message" style="text-align: center;"></p>
        <a class="sp-menu__link" href="{% url 'Owner_setting_time' %}" style="text-align: center;">
          <i class="fa-solid fa-pen"></i>　登録する</a>
        <br>

        <div class="form" id="form">
          {% for obj in object_list %}
          <br>
          <li class="item">
            <div class="start">
              <p style="color:gray; font-size:x-small;">開始日時</p>
              <p style="color:gray;">{{ obj.start_date }}：{{ obj.start_time }}から</p>
            </div>
            <div class="finish">
              <p style="color:gray; font-size:x-small;">終了日時</p>
              <p style="color:gray;">{{ obj.finish_date }}：{{ obj.finish_time }}まで</p>
            </div>
            <div>
            <p></p><br>
            <form method="post" action="{% url 'Owner_deleteTime' obj.pk %}">{% csrf_token %}
              <button type="submit" onclick='return confirm("本当に削除しますか？");'>
                <i class="fa-regular fa-trash-can fa-xl" style="color: #6998b5;"></i>
              </button>
            </form>
            </div>
          </li>
          <hr style="color:gray;">
          {% endfor %}
        </div>

      </div>

      <script>
        message = document.getElementById('message');
        form = document.getElementById('form');
        form.style.display = "none";

        if({{ record_status }}==0){
          message.innerText = "来客対応 不可時間は未登録です";
        }else{
          message.innerText = "登録されている来客対応 不可時間";
          form.style.display = "block";
        }
      </script>

{% endblock %}
