{% extends './Owner_base.html' %}
{% load static %}

{% block content %}

      <div class="content">
        <h1>セキュリティ設定</h1>
        <p>セキュリティ保護のため、客人が使用するアプリのURLを定期的に変更しましょう。</p>
        <form method="post">
            {% csrf_token %}
            <p>※任意の11文字以内の数字を記入してください。</p>
            <input name="update_url" type="number" id='number' maxlength="8" size="45" placeholder="※数字(11文字以内)" required></input>
            <input  name="butoon" type="submit" value="URL更新" onclick="buttonClick()"></input>
        </form>
      </div>

      <script>
        function buttonClick(){
          element = document.getElementById('number');
          if(element.value != ""){
            alert('登録が完了しました。');
          }
        }
      </script>

{% endblock %}
