{% load static %}
<!doctype html>
<html>
    <head>
        <title>Visiter System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/design_Owner.css' %}">

        <!--カレンダー入力で使用-->
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <!--<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>-->
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/DateTimeShortcuts.js' %}"></script>

    </head>
    <body>
          <header>
              <a href="{% url 'Owner_home' %}"><h1 class="head">Owner</h1></a>
          <nav>
            <ul class="main-nav">
              <li class="head"><a href="{% url 'Owner_seeform' %}"><p class="head">来客履歴</p></a></li>
              <li class="head"><a href="{% url 'Owner_setting_time' %}"><p class="head">時間設定</p></a></li>
              <li class="head"><a href="{% url 'Owner_setting_home' %}"><p class="head">住人設定</p></a></li>
              <li class="head"><a href="{% url 'Owner_guest' %}"><p class="head">客人設定</p></a></li>
              <li class="head"><a href="{% url 'Owner_guest_security' %}"><p class="head">セキュリティ</p></a></li>
            </ul>
          </nav>
          </header>


      {% block content %}
      {% endblock %}
    </body>
</html>
