{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>住民のWebアプリ</h1>
      </div>

      <div class="content">
        <p>リスト機能でvisitor_dbを日付順に表示する</p>

          {% for obj in object_list %}
          <li>
              <a href="{% url 'Owner_seeform_detail' obj.id %}">{{ obj.date }}：{{ obj.visitor }}</a>
          </li>
          {% endfor %}

      <br>
      <a href="{% url 'Owner_home' %}"><p>HOME画面に戻る</p></a><br>
      </div>

{% endblock %}
