{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="content">

      <h3>{{ mes.message }}（{{ obj.date }}）</h3><br>

      <ul>
      <li>来訪用件<p>{{ obj.form1 }}</p></li>
      <li>名前<p>{{ obj.form2_name }}</p></li>
      <li>住所<p>{{ obj.form2_address }}</p></li>
      <li>動画視聴有無<p>{{ obj.form3 }}</p></li>
      <li>日付<p>{{ obj.form4_date }}</p></li>
      <li>曜日<p>{{ obj.form4_day }}</p></li>
      <li>天気<p>{{ obj.form4_weather }}</p></li>
      <li>交通手段<p>{{ obj.form4_transportation }}</p></li>
      <li>雑学/豆知識<p>{{ obj.form4_trivia }}</p></li>
      <li>最後に一言<p>{{ obj.form4_message }}</p></li>
      </ul>

      <form method="POST">
      {% csrf_token %}
      <button name="video_button" class="btn_06">ビデオチャットを行う</button>
      </form>

      <br><br>
      <a href="{% url 'Owner_seeform' %}">戻る</a>


      </div>

{% endblock %}
