{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
    <br>
    <a href="{% url 'Owner_home' %}" style="margin: 20px;"><i class="fa-solid fa-circle-arrow-left"></i>　戻る</a>

    <div class="content">
      <h2 style="text-align: center;">{{ mes.message }}</h2>
      <p style="font-size:small;text-align: center;">（ {{ obj.date }} ）</p>
      <br>
      <p style="text-align: center;font-size:80%;color:gray;">玄関に向かってください。<br>通話ボタンから通話を開始することもできます。</p>
      <form method="POST">
        {% csrf_token %}
        <br>
        <div style="text-align: center;">
          <button name="video_button" class="btn btn--circle">
            <b>通話</b><br>
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
          </button>
        </div>
        <br>
      </form>
    </div>

{% endblock %}
