{% extends './Owner_base.html' %}
{% load static %}

{% block content %}

      <div class="content">
      <p style="text-align:center;">来客対応不可能時間の登録</p>
      <br>

      <form method="post">
        <div class="form">
          <br>
          {% csrf_token %}
          <p style="font-size:small;"><b>開始日時：</b></p>
            <div class="item">
              <div class="date">
                <p><label for="id_start_date">日付</label>
                <input type="date" name="start_date" requiredid="id_start_date" style="outline: dotted 1px; border-radius:5px;background-color:ghostwhite;width: 100%;"></p>
              </div>
              <div class="time">
                <p><label for="id_start_time">時間</label>
                <input type="time" name="start_time" requiredid="id_start_time" style="outline: dotted 1px; border-radius:5px;background-color:ghostwhite;width: 100%;"></p>
              </div>
            </div>
            <hr>
            <br>
            <p style="font-size:small;"><b>終了日時：</b></p>
            <div class="item">
              <div class="date">
                <p><label for="id_finish_date">日付</label>
                <input type="date" name="finish_date" requiredid="id_finish_date" style="outline: dotted 1px; border-radius:5px;background-color:ghostwhite;width: 100%;"></p>
              </div>
              <div class="time">
                <p><label for="id_finish_time">時間</label>
                <input type="time" name="finish_time" requiredid="id_finish_time" style="outline: dotted 1px; border-radius:5px;background-color:ghostwhite;width: 100%;"></p>
              </div>
            </div>
          </div>
        <br>
        <button name="setTime_button" class="btn_06" onclick="buttonClick()">
          <i class="fa-solid fa-file-pen" style="color: #ffffff;"></i>  登録
        </button>
      </form>
      </div>

      <script>
        function buttonClick(){
          alert('登録が完了しました。');
        }
      </script>

{% endblock %}
