{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
    <br>
    <a href="{% url 'Owner_home' %}" style="margin: 20px;"><i class="fa-solid fa-circle-arrow-left"></i>　戻る</a>

    <div class="content">
      <h2 style="text-align: center;">{{ mes.message }}</h2>
      <p style="font-size:small;text-align: center;">（ {{ obj.date }} ）</p>
      <br>
      <p style="text-align: center;font-size:80%;color:gray;">対応が必要だと感じた際は、<br>通話ボタンから通話を開始することができます。</p>
      <form method="POST">
        {% csrf_token %}
        <div  style="text-align: center;">
          <button name="video_button" class="btn btn--circle">
            <b>通話</b><br>
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
          </button>
        </div>
        <br>
      </form>
      <ul class="form">
        <li class="other"><p><b>来訪用件</b><br>　{{ obj.form1 }}</p></li>
        <li class="other"><p><b>名前/団体名</b><br>　{{ obj.form2_name }}</p></li>
        <li class="other"><p><b>連絡先（任意）</b><br>　{{ obj.form2_address }}</p></li>
        <li class="other"><p><b>動画視聴状況</b><br>　{{ obj.form3 }}</p></li>
        <li class="other"><p><b>本日の日付</b><br>　{{ obj.form4_date }}</p></li>
        <li class="other"><p><b>本日の曜日</b><br>　{{ obj.form4_day }}</p></li>
        <li class="other"><p><b>本日の天気</b><br>　{{ obj.form4_weather }}</p></li>
        <li class="other"><p><b>交通手段</b><br>　{{ obj.form4_transportation }}</p></li>
        <li class="other"><p><b>知っている雑学/豆知識</b><br>　{{ obj.form4_trivia }}</p></li>
        <li class="other"><p><b>最後に一言</b><br>　{{ obj.form4_message }}</p></li>
      </ul>
    </div>
    <br>

{% endblock %}
