{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>住民のWebアプリ</h1>
      </div>

      <div class="content">

          {% for obj in object_list %}
          <li>
              {{ obj.date }}：<br>
              <a href="{% url 'Owner_seeform_detail' obj.id %}">　　{{ obj.message }}</a>
              <p></p>
          </li>
          {% endfor %}

      <br>
      <a href="{% url 'Owner_home' %}"><p>HOME画面に戻る</p></a><br>
      </div>

{% endblock %}
