{% extends './Owner_base.html' %}
{% load static %}

{% block content %}

      <div class="content">
        <h1>セキュリティ設定</h1>
        <p>セキュリティ保護のため、来客者用アプリのURLを定期的に変更しましょう。</p>
        <form method="post">
            {% csrf_token %}
            <!--<input name="update_url" type="number" id='number' maxlength="8" size="45" placeholder="※数字(11桁以内)" required></input>-->
            <input  name="butoon" type="submit" value="URLを更新する" onclick="buttonClick()"></input>
        </form>
      </div>

      <script>
        function buttonClick(){
          element = document.getElementById('number');
          if(element.value != ""){
            alert('登録が完了しました。');
          }
        }
      </script>

{% endblock %}
