{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="content">

        <p id="message" style="text-align: center;"></p>
        <br>

        <div class="form">
          {% for obj in object_list %}
          <br>
          <li class="item">
            <div class="start">
              <p style="color:gray; font-size:x-small;">開始日時</p>
              <p>{{ obj.start_date }}：{{ obj.start_time }}　　〜</p>
            </div>
            <div>　　　</div>
            <div class="finish">
              <p style="color:gray; font-size:x-small;">終了日時</p>
              <p>{{ obj.finish_date }}：{{ obj.finish_time }}</p>
            </div>
            <div>
            <form method="post" action="{% url 'Owner_deleteTime' obj.pk %}">{% csrf_token %}
              <button type="submit" onclick='return confirm("本当に削除しますか？");'>
                <i class="fa-regular fa-trash-can fa-xl" style="color: #6998b5;"></i>
              </button>
            </form>
            </div>
          </li>
          <hr>
          {% endfor %}
        </div>

      </div>

      <script>
        message = document.getElementById('message');

        if({{ record_status }}==0){
          message.innerText = "' 来客対応不可 'として登録している時間はありません";
        }else{
          message.innerText = "来客対応不可に登録している時間";
        }
      </script>

{% endblock %}
