{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
    <br>
    <a href="{% url 'Owner_home' %}" style="margin: 20px;"><i class="fa-solid fa-circle-arrow-left"></i>　戻る</a>

    <div class="content">
      <h2 style="text-align: center;">{{ mes.message }}<br>（ {{ obj.date }} ）</h2>
      <form method="POST">
        {% csrf_token %}
        <br>
        <button name="video_button" class="btn_06">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
          <br>Start VideoChat!
        </button>
      </form>
    </div>

{% endblock %}
