{% extends './Owner_base.html' %}
{% load static %}

{% block content %}

      <div class="content">
        <p id="message"></p>

        <div id="list">
        {% for obj in object_list %}
        <hr size="10">
        <p></p>
        <li>
            {{ obj.date|date:"H:i:s" }}：
            <a href="{% url 'Owner_seeform_detail' obj.id %}">{{ obj.message }}</a>
        </li>
        {% endfor %}
        </div>

      </div>

      <script>
        message = document.getElementById('message');
        list = document.getElementById('list');

        if({{ record_status }}==0){
          message.innerText = "本日の来客者はゼロです"
          list.style.display = "none";
        }else{
          message.innerText = "本日の来客者です"
          list.style.display = "block";
        }
      </script>

{% endblock %}
