{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="content" style="text-align:center">

        <div id="videoChat">
        <div style="visibility:hidden;">

        </div>
        <hr size="10">
        <p id="message">参加ボタンを押してください</p><br>
        <button id="join" name="join_button" class="btn_06">参加　
          <i class="fa-solid fa-arrow-right-to-bracket" style="color: #fff;"></i></button><br>
        <p id="joining"></p>

        <form method="POST">
          {% csrf_token %}
        <button id="close" name="exit_button" class="btn_06">退出　
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #fff;"></i></button><br>
        </form>

        <video id="partner_video" width="400px"></video>
        <audio id="partner_audio"></<audio>

        <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
        <script id='kind' title='owner'></script>
        <script src="{% static 'js/Owner_VideoChat.js' %}"></script><br>
        </div>
      </div>

{% endblock %}
