{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>住民のWebアプリ</h1>
      </div>

      <div class="content">

        <div id="videoChat">
        <div style="visibility:hidden;">

        </div>
        <hr size="10">
        <p id="message">参加ボタンを押してください。</p>
        <button id="join" name="join_button" class="btn_06">参加</button><br>
        <p id="joining"></p>

        <form method="POST">
          {% csrf_token %}
        <button id="close" name="exit_button" class="btn_06">退出</button><br>
        </form>

        <video id="partner_video" width="400px"></video>
        <audio id="partner_audio"></<audio>

        <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
        <script id='kind' title='owner'></script>
        <script src="{% static 'js/Owner_VideoChat.js' %}"></script><br>
        </div>


      <br>
      <a href="{% url 'Owner_home' %}"><p>HOME画面に戻る</p></a><br>
      </div>

{% endblock %}
