{% extends './Owner_base.html' %}
{% load static %}

{% block content %}
      <div class="content" style="text-align:center">
        </div>
        <div id="videoChat">
            <!--<p id="message" style="font-size:small;">本当に通話を開始しますか？</p>-->

            <!--<button id="join" name="join_button" class="btn_06">通話開始　
              <i class="fa-solid fa-arrow-right-to-bracket" style="color: #fff;"></i></button><br>-->

            <div class="video-container">
              <div class="overlay_1"></div>
              <div class="overlay_2"></div>
              <form method="POST">
                {% csrf_token %}
                <button name="exit_button" id="close" class="btn_07">通話終了</button>
              </form>
              <p class="overlay_mes" id="joining"></p>
              <video id="partner_video"></video>
              <audio id="partner_audio"></<audio>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
            <script id='kind' title='owner'></script>
            <script src="{% static 'js/Owner_VideoChat.js' %}"></script><br>
        </div>

{% endblock %}
