{% extends './Appt_base.html' %}
{% load static %}

{% block content %}
      <div class="page-header">
          <h1>アポ済み客のWebアプリ</h1>
      </div>

      <div class="content">

      <p class="memo">※メモ：この画面は、カメラ読み取り成功後の画面です。</p>
      <p>住民を呼び出しています。少々お待ちください。</p>
      <p class="memo">※メモ：ここに待ち時間用の動画を配置します。</p>
      <img src="{% static 'video/video.png' %}" alt="待ち時間の動画" width="300" height="200"></img>

      <!--ビデオチャットを表示する機能-->
      <div id="videoChat">
      <div style="visibility:hidden;">
       <input id="room-name" value="VideoRoom"/>
       <span id="my-id"></span><br>
      </div>
      <hr size="10">
      <button id="join" class="btn_06">ビデオチャット開始</button><br>
      <div id="close">
      <button class="btn_06">ビデオチャット終了</button><br>
      </div>
      <video id="local-video" width="400px" muted playsinline></video>
      <div id="button-area"></div>
      <div id="remote-media-area"></div>
      <script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
      <script src="{% static 'js/VideoChat.js' %}"></script><br>
      </div>

      </div>

{% endblock %}
